<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./navbar.ejs')%>
    <h3>Account Participation</h3>
    <% if (!user.tournaments.length) {%>
        <h4>Not Participate in Any Tournament Yet</h4>
    <%} else {%>
        <table border>
            <tr>
                <th>No.</th>
                <th>Tournament</th>
                <th>Location</th>
                <th>Date</th>
            </tr>
            <% for (let i = 0; i < user.tournaments.length; i++){%>
                <tr>
                    <td><%= i+1 %>.</td>
                    <td><%= user.tournaments[i].name %></td>
                    <td><%= user.tournaments[i].location %></td>
                    <td><%= user.tournaments[i].date %></td>
                </tr>
            <%}%>
        </table>
    <%}%>
    <br><br>
    <h3>Account Setting</h3>
    <form action="/users/<%= user.id%>/setting" method="POST">
        <label for="username">Username</label><br>
        <input type="text" id="username" name="username" value="<%= user.username %>"><br>
        <label for="password">password</label><br>
        <input type="password" id="password" name="password" value="<%= user.password%>"><br>
        <input type="submit" value="Change">
        <input type="reset" value="Cancel">
    </form><br><br>
    <a href="" onclick="return confirm('Are you sure you want to delete this Account?');"><button>Delete Account</button></a>
    <%- include('./creditbar.ejs')%>
</body>
</html>